* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}



body {
            margin: auto;
            width: 100%;
            min-height: 320px;
            font-size: 1.5em;
            font-family: 'reenie beanie', 'raleway dots';
            color: darkgray;
            line-height: 2em;
            background color: #F7F7F7;
           }

h1 {
    padding-left: 1.4em;
    padding-top: .7em;
    font-family: 'raleway dots';
    font-size: .8em;
    color: black;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 800;
}


h1.hover {
    opacity: 0.3;
}

.one { 
    color: white;
}

hr { display: block;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    margin-left: 22em;
    margin-right: 22em;;
    border-style: inset;
    border-width: 1px;
    
}

nav ul li {
    display: inline;
    width: 100px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #5B959D;
}

ul {
    top: 100;
    width: 100%;
}

li a:link {
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: lowercase;
        font-size: 95%;
        vertical-align: middle;
}
        
/* unvisited link */
 li a:link {
        color: black;
        text-transform: lowercase;}

/* visited link */
li a:visited {
        color: black;
        text-transform: lowercase;}


a:link {
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 80%;
}
        
/* unvisited link */
 a:link {
        color: darkslategray;
        text-transform: uppercase;}

/* visited link */
a:visited {
        color: darkgray;
        text-transform: uppercase;}


.Marque {
    margin-top: 2em;
    align-content: center;
    width: 150px;
    
}

.copyright {font}


.scallops {
    width: 100%;
}



.intro1 {
    align-content: center;
    padding-left: 15em;
    padding-right: 15em;
    font-size: .7em;
    font-family: 'raleway dots';
    color: black;
    padding-top: .9em;
    
}


.intro {
    align-content: center;
    padding-left: 15em;
    padding-right: 15em;
    font-size: .7em;
    font-family: 'raleway dots';
    color: black;
}







.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}








#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   3px;
  -moz-column-count:    2;
  -moz-column-gap:      3px;
  column-count:         2;
  column-gap:           3px;
    padding-left: 5em;
    padding-right: 5em;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }

    
    
    


