* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}

.column-left{ float: left; width: 30%; padding-left: 4em;}
.column-right{ float: right; width: 30%;; 
padding-right: 4em;}
.column-center{ display: inline-block; width: 30%; }


.text {
    padding-top: 1em;
    padding-bottom: 4em;
    width: 75%;
}


.marque {
    width: 8%;
    height: auto;
    float: left;
    padding-left: 1em;
    padding-bottom: .5em;
    padding-top: .2em;
    padding-right: 1em;
    position: relative;
}

.marque:hover {
    opacity: 0.8;
}

.one {
    color: white;
}


h1 { font-family: 'reenie beanie';
    font-size: 2em;
    padding-top: .5em;
    padding-bottom: .5em;}

h2 { font-family: 'raleway';
    font-size: 1.5;
    padding-top: .5em;
    letter-spacing: .1em;
    align-content: center;
    }

nav {
    width: 100%;
    position: relative;
    top: 0;
    opacity: 0.5;
    position: fixed;
    background: white;
    padding-top: .5em;
    background: white;
}


.copyright {
    font-family: 'raleway dots';
    font-size: 1.1em;
    padding-right: .5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
}

.copy {
    font-family: 'raleway dots';
    font-size: .6em;
    text-emphasis: bold;
    text-transform: uppercase;
    text-decoration-color: #97D0C0;
    letter-spacing: .2em
}

.twitter:hover {
    opacity: 0.5;
}

.instagram:hover {
    opacity: 0.5;
}

.mail:hover {
    opacity: 0.5;
}


.socialicons { margin-top: .5em;
                padding-bottom: 2em;
                width: 70%;
                height: auto;
    }

.twitter {padding-right: .3em;}

.mail {padding-left: .3em;}


div.turquoise {
    background-color: #D8F1EB;
}

.headings3 { margin-left: 7em;}




nav ul li {
    display: inline;
    position: inherit;
    width: 100px;
    color: #000000;
    text-align: right;
    text-decoration: none;
    bottom: auto;
}

li a:hover {
    color: #5B959D;
   
}


ul {
    top: 100;
    width: 100%;
    
}

li a:link {
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.5em;
        align-content: right;
        font-family: 'reenie beanie';
        text-transform: lowercase;
        ;  
}
        
/* unvisited link */
 li a:link {
        color: black;
        font-family: 'reenie beanie';
        text-transform: lowercase;
       
    
       }

/* visited link */
li a:visited {
        color: black;
        font-family: 'reenie beanie';
        text-transform: lowercase;
        position: fixed
       }



.meetme {
    width: 100%;
}




.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
float: right;
    padding-left: 1em;
    padding-right: 1.5em;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}







    
    
