* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}



/*-------------------*/

.copyright {
    font-family: 'raleway';
    font-size: 1.1em;
    padding-right: .5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
}

.copy {
    font-family: 'raleway';
    font-size: .6em;
    text-emphasis: bold;
    text-transform: uppercase;
    text-decoration-color: #97D0C0;
    letter-spacing: .2em;
    float: left;
}



/*----------------------*/

div.palepink {
    background-color: #F5E7EE;
}


div.turquoise {
    background-color: #D8F1EB;
}

/*----------------------*/


.visualmarque {width: 100%;}

.bridesmaid {
    width: 100%;
}

/*-----TOP LEFT A MARQUE----*/

.amarque {
    width: 5%;
    padding-left: 1.5em;
    float: left;   
}

/*--------------------------*/

.scallops {
    width: 100%;
    padding-bottom: 5em;
    margin-bottom: 3em;
}


/*----------------------------*/
.blockquote1 {margin-top: 1em;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            margin-left: 9em;
            margin-right: 9em;
            padding-left: 1em;
            padding-right: 1em;
            color: black;
            font-family: 'raleway';
            font-weight: 300;
            font-size: 1.3em;
            padding-bottom: .7em;}


/*----------------------------*/

.portfolio { 
    font-family: 'reenie beanie';
    font-weight: 400;
    font-size: 2.7em;
    padding-top: .5em;
    letter-spacing: .2em;
    align-content: center;}

/*----------------------------*/

.copyright {
    font-family: 'raleway';
    font-weight: 400;
    font-size: 1.1em;
    padding-right: .5em;
    padding-left: 1.5em;
    padding-bottom: 1em;}

.copy {
    font-family: 'raleway';
    font-weight: 600;
    font-size: .6em;
    text-emphasis: bold;
    text-transform: uppercase;
    text-decoration-color: #97D0C0;
    letter-spacing: .2em}

p {
    font-family: 'raleway';
    font-size: 1em;
    padding-right: 8em;
    padding-left: 8em;
    margin-left: 8em;
    margin-right: 8em;
    padding-top: 1em;
    padding-bottom: 2em;
    }

/*----SOCIAL ICONS--------*/

.twitter:hover {
    opacity: 0.5;}

.instagram:hover {
    opacity: 0.5;}

.mail:hover {
    opacity: 0.5;}


.socialicons { padding-top: 1em;
                padding-bottom: 2em;
                width: 70%;
                height: auto;}

.twitter {padding-right: .7em;}

.mail {padding-left: 1em;}

/*---------NAV--------------*/

nav {
    width: 100%;
    position: relative;
    top: 0;
    opacity: 0.8;
    position: fixed;
    background: #F5E7EE;
    padding-top: .6em;
    padding-bottom: .6em;
    margin-top: 0;}


a:hover {
    color: #5B959D;
}


/*---------VIEW MORE LINK-----------*/

.viewmore {
        text-decoration: underline;
        letter-spacing: 1px;
        font-size: 1.4em;
        font-family: 'reenie beanie';
        text-transform: lowercase;
        font-weight: 600;
        color: black;
        align-content: center;
}

.viewmore:hover {
    opacity: 0.5;
}


/*---------------links----------*/

a:link {
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.4em;
        align-content: right;
        font-family: 'reenie beanie';
        text-transform: lowercase;
        font-weight: 600;
        color: black;
}
        
/* unvisited link */
 a:link {
        color: black;
        font-family: 'reenie beanie';
        text-transform: lowercase;

       }

/* visited link */
a:visited {
        color: black;
        font-family: 'reenie beanie';
        text-transform: lowercase;
       } 

/*-----------------------------*/

     ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  position: relative;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------PORTFOLIO IMAGES------*/

span.alphabet {
  
  color: white;
  cursor: pointer;
  display: table;
    width: 569px;
    height: 377px;
  left: 0;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.alphabet span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.alphabet {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 377px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;}

ul.img-list li:hover span.alphabet {
  opacity: 1;}


/*------------------------*/

span.selfillustration {
  
  color: white;
  cursor: pointer;
  display: table;
    width: 569px;
    height: 558px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.selfillustration span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.selfillustration {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 558px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 600;}

ul.img-list li:hover span.selfillustration {
  opacity: 1;}

/*---------------------------------*/


span.monogram {
  
  color: white;
  cursor: pointer;
  display: table;
    width: 569px;
    height: 327px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.monogram span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.monogram {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 327px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;}

ul.img-list li:hover span.monogram {
  opacity: 1;}


/*---------------------------------*/


span.icons {
  
  color: white;
  cursor: pointer;
  display: table;
    width: 569px;
    height: 187px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.icons span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.icons {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 187px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 600;}

ul.img-list li:hover span.icons {
  opacity: 1;}




/*---------------------------------*/


span.macromicro {
  
  color: white;
  cursor: pointer;
  display: table;
    width: 569px;
    height: 320px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.macromicro span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.macromicro {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
  }

ul.img-list li:hover span.macromicro {
  opacity: 1;}


/*---------------------------------*/

span.infographic {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 1213px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.infographic span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.infographic {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 1213px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.infographic {
  opacity: 1;}


/*---------------------------------*/

span.vinylcovers {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 403px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.vinylcovers span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.vinylcovers {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 403px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.vinylcovers {
  opacity: 1;}


/*-----------SIDE-PROJECT------------*/


span.lion {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.lion span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.lion {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.lion {
  opacity: 1;}


/*------------------------------*/


span.Tajmahal {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.Tajmahal span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.Tajmahal {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.Tajmahal {
  opacity: 1;}


/*------------------------------*/

span.paperele {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.paperele span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.paperele {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.paperele {
  opacity: 1;}


/*------------------------------*/


span.worldmap {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 371px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.worldmap span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.worldmap {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 371px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.worldmap {
  opacity: 1;}


/*------------------------------*/


span.typographyshot {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 310px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.typographyshot span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.typographyshot {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 310px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.typographyshot {
  opacity: 1;}


/*------------------------------*/

span.formaltags {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 515px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.formaltags span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.formaltags {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 515px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.formaltags {
  opacity: 1;}


/*------------------------------*/
 

span.scrapbooking {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 463px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.scrapbooking span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.scrapbooking {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 463px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.scrapbooking {
  opacity: 1;}


/*------------------------------*/


span.Invitations {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 515px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.Invitations span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.Invitations {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 568px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.Invitations {
  opacity: 1;}


/*------------------------------*/



span.prints {
  
  color: white;
  cursor: pointer;
  display: table;
  width: 569px;
  height: 415px;
  left: 0;
  position: absolute;
  top: 0;
    -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
	
}

span.prints span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.prints {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 415px;
  left: 0;
  position: absolute;
  top: 0;
  width: 569px;
  opacity: 0;
  font-size: 1.5em;
  font-family: 'raleway';
  letter-spacing: .2em;
  text-transform: uppercase;
font-weight: 600;}

ul.img-list li:hover span.prints {
  opacity: 1;}


/*------------------------------*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
float: right;
    padding-left: 1em;
    padding-right: 1.5em;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------------------------------*/


#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 2;
   -webkit-column-gap:   15px;
   -moz-column-count:    2;
   -moz-column-gap:      15px;
   column-count:         2;
   column-gap:           15px;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 3em;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
    

/*---------------------------------*/
    
    
    
    
   
    
    
