* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}




/*----------------------*/

div.palepink {
    background-color: #F5E7EE;
}


div.turquoise {
    background-color: #D8F1EB;
}

/*----------------------*/
.visualmarque {width: 100%;}

.amarque {
    width: 5%;
    padding-left: 1.5em;
    float: left;   
}


.scallops {
    width: 100%;
    padding-bottom: 5em;
    margin-bottom: 3em;
}

.bridesmaid {
    width: 100%;
}



/*----------------------------*/
.blockquote1 {margin-top: 1em;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            margin-left: 9em;
            margin-right: 9em;
            padding-left: 1em;
            padding-right: 1em;
            color: black;
            font-family: 'raleway';
            font-weight: 300;
            font-size: 1.3em;
            padding-bottom: .7em;}


/*----------------------------*/

.portfolio { 
    font-family: 'reenie beanie';
    font-weight: 400;
    font-size: 2.7em;
    padding-top: .5em;
    letter-spacing: .2em;
    align-content: center;}

/*----------------------------*/

.copyright {
    font-family: 'raleway';
    font-weight: 400;
    font-size: 1.1em;
    padding-right: .5em;
    padding-left: 1.5em;
    padding-bottom: 1em;}

.copy {
    font-family: 'raleway';
    font-weight: 600;
    font-size: .6em;
    text-emphasis: bold;
    text-transform: uppercase;
    text-decoration-color: #97D0C0;
    letter-spacing: .2em}

p {
    font-family: 'raleway';
    font-size: 1em;
    padding-right: 8em;
    padding-left: 8em;
    margin-left: 8em;
    margin-right: 8em;
    padding-top: 1em;
    padding-bottom: 2em;
    }


.twitter:hover {
    opacity: 0.5;}

.instagram:hover {
    opacity: 0.5;}

.mail:hover {
    opacity: 0.5;}


.socialicons { padding-top: 1em;
                padding-bottom: 2em;
                width: 70%;
                height: auto;}

.twitter {padding-right: .7em;}

.mail {padding-left: 1em;}



nav {
    width: 100%;
    position: relative;
    top: 0;
    opacity: 0.8;
    position: fixed;
    background: #F5E7EE;
    padding-top: .6em;
    padding-bottom: .6em;}



a:hover {
    color: #5B959D;}


.viewmore {
        text-decoration: underline;
        letter-spacing: 1px;
        font-size: 1.4em;
        font-family: 'reenie beanie';
        text-transform: lowercase;
        font-weight: 600;
        color: black;
        align-content: center;
}

.viewmore:hover {
    opacity: 0.5;
}


a:link {
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.4em;
        align-content: right;
        font-family: 'reenie beanie';
        text-transform: lowercase;
        font-weight: 600;
        color: black;
}
        
/* unvisited link */
 a:link {
        color: black;
        font-family: 'reenie beanie';
        text-transform: lowercase;
       }

/* visited link */
a:visited {
        color: black;
        font-family: 'reenie beanie;
        text-transform: lowercase;
        position: fixed;
       }



/*------------------------------*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
float: right;
    padding-left: 1em;
    padding-right: 1.5em;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------------------------------*/


#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 2;
   -webkit-column-gap:   15px;
   -moz-column-count:    2;
   -moz-column-gap:      15px;
   column-count:         2;
   column-gap:           15px;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 3em;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
    

/*---------------------------------*/
    
    
   
    
    
